@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}
html,body {
    height: 100%;
    margin: 0;
    font-family: 'Unica One', sans-serif;
	text-align: center;
}
.all{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #31AAF7;
}
.blank{
	height: 100px;
}
.tablebox{
	margin: auto;
}

.returna{
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 0;
}
.return{
	font-size: 30px;
	padding: 10px;
	
}
.inbox{
	width: 300px;
	margin: auto;
	text-align: justify;
}
.inbox p{
	margin: 10px 0;
}
.deletebt{
	width: 250px;
	height: 40px;
	line-height: 20px;
	padding: 10px 0;
	background: #ffffff;
/*border: 1px #104AAF solid;*/
	border: none;
	color: #104AAF;
	border-radius: 20px;
	margin: 10px 0;
	font-size: 18px;
}
.gobackbt{
	width: 250px;
	height: 20px;
	line-height: 20px;
	padding: 10px 0;
	background: #ffffff;
	border: 1px #104AAF soild;
	color: #104AAF;
	border-radius: 20px;
	margin: 10px auto;
	font-size: 18px;
	text-decoration: none;
}
.gobackbt2{
	width: 250px;
	height: 20px;
	line-height: 20px;
	padding: 10px 0;
	text-align: center;
	background: #ffffff;
	border: 1px #104AAF soild;
	color: #104AAF;
	border-radius: 20px;
	margin: 10px 0;
	font-size: 18px;
	text-decoration: none;
}